<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.likeapp.game.bubbleshooter"
    android:installLocation="preferExternal"
    android:versionCode="71"
    android:versionName="2.3" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:icon="@drawable/appbubble"
        android:label="@string/app_name" >
        <activity
            android:name=".Splash"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name=".BubbleShooterGame" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BubbleShooterActivity"   android:configChanges="orientation|keyboardHidden"   android:screenOrientation="portrait" />
        <activity
            android:name=".LevelSelectorActivity"  android:label="@string/activity_name_levelselector"   android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".BubbleArcadeActivity"   android:configChanges="orientation|keyboardHidden"    android:screenOrientation="portrait" />
        <!-- 推荐对话框 -->
        <activity android:name="com.likeapp.api.appdig.DiggActivity" android:theme="@style/Theme.Notitle"/>

        <!-- Admob -->
        <activity  android:name="com.google.ads.AdActivity"  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
       
        <!-- Swarm Activity -->        
        <activity android:name="com.swarmconnect.SwarmMainActivity"
		    android:configChanges="orientation|keyboardHidden"
		    android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
		    android:windowSoftInputMode="stateHidden" />
		<service android:name="com.swarmconnect.NotificationService" android:process=":swarm"/>
    </application>

    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>